

     body{
          background-color:#DEFCF9;
        }

     hr {
        border-color:#1f394a;
        border-width:5px;
        width:5%;
        border-style:dotted none none;
     }
      
      h1{
         color:darkslategray;
      }

      p{
         color:darkslategray;
      }
